@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DancingScript";
    src: local("DancingScript"),
      url(../public/fonts/DancingScript.ttf) format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url(../public/fonts/Montserrat.ttf) format("truetype");
  }
}
